.fn_container {
  position: relative;
}

.fn_tags-group {
  margin: 30px 0;
  position: relative;
}

.fn_btm_add {
  position: absolute;
  right: 15px;
  top: 15px;
}

.fn_btm_refresh {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 8px;
  margin: 1px;
}

.fn_notes {

}

.fn_note_container {
  /*!!background-color: red;*/
}

.fn_note {
  /*!!background-color: blue;*/
  padding: 19px;
  margin-bottom: 20px;
  position: relative;
  --min-height: 100px;
}

.fn_note_date {
  white-space: pre;
  margin-top: 10px;
}

.fn_edited_note {
  padding: 19px 0;
  margin-bottom: 20px;
  position: relative;
}

.fn_edited_note_data {
  margin-top: 10px;
}

.fn_btm_edit, .fn_btm_cancel {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 8px;
  margin: 1px;
}

.fn_date {
  position: absolute;
  left: 19px;
  top: 10px;
  font-size: 11px;

  & > i {
    font-size: 11px;
  }
}