<!DOCTYPE html>
<html>
<head>
  <title>Scopia Web Client</title>
  <meta charset="UTF-8">
  <!-- libs -->
  <!-- include: "type": "css", "files": ["libs/**/*.css"] -->
  <!-- src -->
  <!-- include: "type": "css", "files": ["**/*.css", "!libs/**/*"] -->
</head>
<body
  ng-app="appModule"
  ng-controller="AppController as app"
>
  <div layout="column">
    <md-button class="md-fab md-fab-bottom-right"
      ng-hide="app.editedNote"
      ng-click="app.createNote()"
    >
      <ng-md-icon icon="add"></ng-md-icon>
    </md-button>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>FN</h1>
        <md-input-container md-theme="input" flex
          ng-class="app.tags === '' ? 'has-error' : ''"
        >
          <label>&nbsp;</label>
          <input placeholder="Tags" autofocus
            ng-model="app.tags"
            ng-change="app.onTagsChange()"
          >
        </md-input-container>
        <md-button
          ng-click="app.onTagsChange()"
        >
          <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content flex md-scroll-y layout-padding>
      <div layout="row" layout-align="center">
        <md-card flex="80">
          <md-card-content>
            <md-list>
              <md-item ng-repeat="note in app.notes track by $index">

                <md-item-content>
                  <div class="md-tile-left inset" hide-sm>
                    <user-avatar></user-avatar>
                  </div>
                  <div class="md-tile-content">
                    <h3>{{note.date}}</h3>
                    <h3>{{note.inProgres}}</h3>
                    <p>
                      {{note.data}}
                    </p>
                  </div>
                </md-item-content>

                <md-divider ng-if="!$last"></md-divider>
              </md-item>
            </md-list>

          </md-card-content>
        </md-card>
      </div>
    </md-content>

  </div>

  <!-- <div class="container fn_container">

    <div class="fn_notes">
      <div class="fn_note_container"
        ng-repeat=""
      >
        <div class="fn_note"
          ng-if="note !== app.editedNote"
        >
          <span class="fn_date">
            {{note.date}}
            <i
              ng-class="note.inProgres ? 'mdi-action-autorenew' : ''"
            ></i>
          </span>
          <div class="fn_note_date">{{note.data}}</div>
          <button class="btn btn-default mdi-content-create fn_btm_edit"
            ng-click="app.editNote(note)"
          ></button>
        </div>

        <div class="form-group well fn_edited_note"
          ng-if="note === app.editedNote"
        >
          <span class="fn_date">
            {{note.date}}
            <i
              ng-class="note.inProgres ? 'mdi-action-autorenew' : 'mdi-action-done'"
            ></i>
          </span>
          <textarea class="form-control fn_edited_note_data" placeholder="Note" rows="4"
            ng-model="app.editedNote.data"
            ng-change="app.onNoteChange()"
          ></textarea>
          <button class="btn btn-default mdi-content-clear fn_btm_edit"
            ng-click="app.cancelEditNote()"
          ></button>
        </div>

      </div>
    </div> -->

    <!-- <br><br><pre>{{app | json}}</pre> -->
  </div>

  <!-- libs -->
  <!-- include: "type": "js", "files": ["libs/angular/*.js", "libs/**/*.js"] -->
  <!-- src -->
  <!-- include: "type": "js", "files": ["**/*_module.js", "**/*.js", "!libs/**/*"] -->
</body>
</html>